

<%= render partial: 'selection', locals: { link: '/games/overview', games: @games, button: "Select Game", id: "submit-game", insert: "see"} %>

<% if !user_signed_in? %>
    <h3>Cannot find what you are looking for? <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Log In', new_user_session_path %> and create your own Games and Reviews!</h3> 
<% end %>
