<h3>Which Game would you like to review?</h3>

<%= render partial: 'selection', locals: { link: '/games/select', games: @games, button: "Select Game"} %>

<p><%= button_to 'Create New Game', new_game_path, method: :get %></p>